html { background: rgb(235,235,235); }
body { margin: 0; font-size: 14pt; }
article { margin: 0 auto; padding: 5%; max-width: 1000px; background: white; overflow: hidden; }
h1, h2, h3, h4, h5, h6 { font-family: Helvetica,Neue,Helvetica,Arial,sans-serif; font-weight: 200; }
h1, h2 { font-size: 1.75em; margin-top: 0; }
section { margin-bottom: 10%; }
h3 { font-size: 1.25em; }
li { margin-bottom: 1em; }
a { color: rgb(192,128,64); cursor: pointer; text-decoration: underline; }
p { line-height: 1.5em; }
i { color: rgb(192,128,64); }
footer { font-size: 10pt; color: rgba(0,0,0,.5); text-align: center; }
article, section, div { box-sizing: border-box; }

#menu-1 { background: url(/img/bg.png) rgb(192,128,64); padding: 1em; color: white; text-align: center; position: relative; }
#menu-1 .logo { font-family: times; font-size: 24pt; }
#menu-1 .logo .tagline { font-size:14pt; display: inline-block; position:relative; top:-3px; }
#menu-1 .phone { position: absolute; top: 0; right:0; }
#menu-2 { padding: 1em; background: rgb(215,215,215); }
#menu-3 nav { display: flex; justify-content: center; }
#menu-3 li { list-style: none; padding: 1em; }
#menu-3 li a { text-decoration: none; }

/* flaticon overrides */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
        font-size: inherit !important;
font-style: normal;
margin-left: 0 !important;
}
/* global classes */
.align-center { text-align: center; }
.btn { padding: 1em 2em; color: white; background: rgb(192,128,64); display: inline-block; text-decoration: none; }
.clear { clear: both; }
.content { max-width: 1000px; margin: 0 auto; position: relative; }
.highlight { color: rgb(192,128,64); font-weight: bold; font-family: Helvetica, Arial, sans-serif; }
.icons { display: flex; justify-content: center; font-family: Helvetica, Arial, sans-serif; }
.icons > a { margin: 0 1em; text-align: center; font-weight: 400; text-decoration: none; }
.icons > a > i { font-size: 50px; }
.margin-0 { margin:0; }
.margin-1 { margin:.25em; }
.margin-2 { margin:.5em; }
.margin-3 { margin:.75em; }
.margin-4 { margin:1em; }
.margin-bottom-0 { margin-bottom:0; }
.margin-bottom-1 { margin-bottom:.25em; }
.margin-bottom-2 { margin-bottom:.5em; }
.margin-bottom-3 { margin-bottom:.75em; }
.margin-bottom-4 { margin-bottom:1em; }
.margin-top-0 { margin-top:0; }
.margin-top-1 { margin-top:.25em; }
.margin-top-2 { margin-top:.5em; }
.margin-top-3 { margin-top:.75em; }
.margin-top-4 { margin-top:1em; }
.margin-right-0 { margin-right:0; }
.margin-right-1 { margin-right:.25em; }
.margin-right-2 { margin-right:.5em; }
.margin-right-3 { margin-right:.75em; }
.margin-right-4 { margin-right:1em; }
.margin-left-0 { margin-left:.0; }
.margin-left-1 { margin-left:.25em; }
.margin-left-2 { margin-left:.5em; }
.margin-left-3 { margin-left:.75em; }
.margin-left-4 { margin-left:1em; }
.menu-button { padding: 5px; display: none; }
.overflow-hidden { overflow: hidden; }
.padding-0 { padding:0; }
.padding-1 { padding:.25em; }
.padding-2 { padding:.5em; }
.padding-3 { padding:.75em; }
.padding-4 { padding:1.25em; }
.padding-5 { padding:1.5em; }
.padding-6 { padding:1.75em; }
.padding-7 { padding:2em; }
.padding-bottom-0 { padding-bottom:0; }
.padding-bottom-1 { padding-bottom:.25em; }
.padding-bottom-2 { padding-bottom:.5em; }
.padding-bottom-3 { padding-bottom:.75em; }
.padding-bottom-4 { padding-bottom:1em; }
.padding-top-0 { padding-top: 0; }
.padding-top-1 { padding-top:.25em; }
.padding-top-2 { padding-top:.5em; }
.padding-top-3 { padding-top:.75em; }
.padding-top-4 { padding-top:1em; }
.padding-right-0 { padding-right:0; }
.padding-right-1 { padding-right:.25em; }
.padding-right-2 { padding-right:.5em; }
.padding-right-3 { padding-right:.75em; }
.padding-right-4 { padding-right:1em; }
.padding-left-0 { padding-left:.0; }
.padding-left-1 { padding-left:.25em; }
.padding-left-2 { padding-left:.5em; }
.padding-left-3 { padding-left:.75em; }
.padding-left-4 { padding-left:1em; }
.pull-left { float: left; }
.pull-right { float: right; }
.quote { border-left: 4px solid rgb(192,128,64); padding-left: 2em; margin: 1em 0 1em 4em; display: block; }
.quote p { margin-bottom: .5em; }
.quote cite { display: block; text-align: right; font-size: 10pt; }
.thumbnail { padding: 10px; box-shadow: 0 2px 5px rgba(0,0,0,.25); }
.thumbnail.pull-left { margin: 0 2em 2em 0; }
.thumbnail.pull-right { margin: 0 0 2em 2em; }

@media (max-width: 700px) {
    h1, h2 { font-size: 1.25em; }
    ul { padding-left: 1em; }
    .quote { margin-left: 0; padding-left: 1em; }
    #portrait { float: none; }
    #menu-1 .phone { position: static; }
    #menu-3 { display: block; }
    #menu-3 nav { display: none; }
    nav li { margin: 0; }
    .logo { font-size: 18pt !important; }
    .logo .tagline { font-size: 10pt !important; }
    .menu-button { padding: 10px; display: inline-block; }
    .icons > a > i { font-size: 25px; }
    .icons > a > div { font-size: 10pt; }
}
