    /*
    Flaticon icon font: Flaticon
    Creation date: 19/07/2017 20:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-children:before { content: "\f100"; }
.flaticon-book:before { content: "\f101"; }
.flaticon-rocket:before { content: "\f102"; }
.flaticon-earth:before { content: "\f103"; }
.flaticon-chart:before { content: "\f104"; }
.flaticon-dragon:before { content: "\f105"; }
.flaticon-saturn:before { content: "\f106"; }
    
    $font-Flaticon-children: "\f100";
    $font-Flaticon-book: "\f101";
    $font-Flaticon-rocket: "\f102";
    $font-Flaticon-earth: "\f103";
    $font-Flaticon-chart: "\f104";
    $font-Flaticon-dragon: "\f105";
    $font-Flaticon-saturn: "\f106";