	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/07/2017 20:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-children:before { content: "\f100"; }
.flaticon-book:before { content: "\f101"; }
.flaticon-rocket:before { content: "\f102"; }
.flaticon-earth:before { content: "\f103"; }
.flaticon-chart:before { content: "\f104"; }
.flaticon-dragon:before { content: "\f105"; }
.flaticon-saturn:before { content: "\f106"; }